################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net7.0/refint
/bin/Debug/net7.0
/.vs
/obj
