################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net7.0/refint
/bin/Debug/net7.0
/.vs
/obj
/bin/Debug/net6.0/Practices.deps.json
/bin/Debug/net6.0/Practices.dll
/Inheritance-OOP/obj
/bin/Debug/net6.0
